html {
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
  padding: 20px;
}

@keyframes colorchange
{
  0%   {background: hotpink;}
  25%  {background: yellow;}
  50%  {background: lime;}
  75%  {background: cyan;}
  100% {background: hotpink;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

body {
  background-image: url(../radio.gif);
  background-size: contain;
  font-size: 200%;
  font-family: Papyrus, fantasy;
}

h1, h2 {
  background-color: lime;
  padding: 20px;
}

p {
  color: magenta;
  background-color: PAPAYAWHIP;
  padding: 20px;
  font-family: 'Comic Sans MS', fantasy;
}

img {
  width: 300px;
  border: 10px dotted hotpink;
}
